<section class="bg-gray-100 h-screen">
  <nav class="bg-white shadow-sm">
    <div class="flex justify-between items-center m-auto w-3/4 h-12">
      <p>Github Search</p>
      <div class="flex gap-10">
        <ul class="flex items-center justify-center gap-10 nav navbar-nav">
          <li
            class="flex items-center h-12 border-teal-600"
            routerLinkActive="border-b-4 border-teal-600"
          >
            <a routerLink="/search">Home</a>
          </li>
          <li
            class="flex items-center h-12"
            routerLinkActive="border-b-4 border-teal-600"
          >
            <a routerLink="/history">History</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</section>
